@font-face {
  font-family: "Open Sans";
  src: url(./Roboto/Roboto-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
}

*:focus {
  outline: none;
}

.navbar {
  margin: 0 auto;
  width: 60%;
  height: auto;
  margin-top: 2rem;
}

.navbar > .navbar-conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar > .navbar-conteiner > .navbar-brand {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navbar > .navbar-conteiner > .navbar-brand > .imges {
  width: 160px;
  height: 24px;
}

.navbar > .navbar-conteiner > .navbar-brand > .imges > img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar > .navbar-conteiner > .navbar-brand > p {
  font-size: 23px;
}

.navbar > .navbar-conteiner > .input {
  width: 65%;
}

.navbar > .navbar-conteiner > .input > .div {
  width: 65%;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.navbar > .navbar-conteiner > .input > .div > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.navbar > .navbar-conteiner > .input > .div > form > input {
  padding: 1rem 16rem 1rem 0.5rem;
  border: none;
  background-color: transparent;
}

.navbar > .navbar-conteiner > .input > .div > form > input::-webkit-input-placeholder {
  font-size: 15px;
  color: gray;
  font-weight: 100;
}

.navbar > .navbar-conteiner > .input > .div > form > input:-ms-input-placeholder {
  font-size: 15px;
  color: gray;
  font-weight: 100;
}

.navbar > .navbar-conteiner > .input > .div > form > input::-ms-input-placeholder {
  font-size: 15px;
  color: gray;
  font-weight: 100;
}

.navbar > .navbar-conteiner > .input > .div > form > input::placeholder {
  font-size: 15px;
  color: gray;
  font-weight: 100;
}

.navbar > .navbar-conteiner > .input > .div > form > a > i {
  color: blue;
}

.navbar > .navbar-conteiner > .like {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > .navbar-conteiner > .like > .likes > a {
  color: blue;
  font-size: 26px;
}

.navbar > .navbar-conteiner > .like > a {
  font-size: 26px;
  color: blue;
}

.navbar > .navigation {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  font-family: "Roboto";
}

.navbar > .navigation > .bar {
  height: auto;
  position: relative;
}

.navbar > .navigation > .bar > .vd {
  width: 223px;
  height: 42px;
  font-size: 15px;
  font-weight: 500;
  background-color: #F1F1F1;
  border-radius: 5px;
  font-weight: 100;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > .navigation > .bar > .vd > span {
  margin-left: 7px;
  margin-right: 13px;
}

.navbar > .navigation > .bar > .vd > a {
  font-size: smaller;
  color: gray;
  font-weight: 100;
}

.navbar > .navigation > .bar > .list {
  width: 250px;
  height: auto;
  top: 0;
  right: 0;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  list-style: none;
  border-radius: 16px;
  scrollbar-color: blue;
  overflow-y: hidden;
  font-weight: 200;
  line-height: 40px;
  text-transform: capitalize;
}

.navbar > .navigation > .bar > .list > .lconteiner {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-color: blue;
}

.navbar > .navigation > .bar > .list ::-webkit-scrollbar {
  width: 5px;
}

.navbar > .navigation > .bar > .list ::-webkit-scrollbar-track {
  background-color: rgba(154, 151, 151, 0.298);
}

.navbar > .navigation > .bar > .list ::-webkit-scrollbar-thumb {
  background-color: darkblue;
  border-radius: 13px;
}

.navbar > .navigation > .bar:hover .list {
  display: block;
}

.navbar > .navigation > a:hover {
  background-color: #eeeeee;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar > .navigation > a {
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.9rem 7px;
  font-weight: 100;
  font-weight: 100;
  color: #000;
}

.for {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  background-color: #ddd;
  border: 1px solid #DCDFE6;
  border-radius: 8px;
}

.for_of {
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for_of > button {
  background-color: #F5F7FA;
  width: 40px;
  height: 38px;
  border: none;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 8px;
}

.for_of_red {
  font-weight: lighter;
  font-size: 18px;
}

.for:hover {
  border: 1px solid gold;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
}

#dib {
  width: 60%;
  margin: 0 auto;
}

#imgr {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#imgr > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border: 1px solid white;
  border-radius: 3px;
}

#imgr > img:active {
  border: 1px solid #0048f1;
}

#imgr > img:default {
  border: 1px solid #0048f1;
}

#imges {
  width: 35%;
  float: left;
}

#name2 {
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #4a4a4a;
}

.reklama {
  width: 100%;
  border: 1px solid #02026b;
  height: auto;
  padding: 1rem;
  background-color: #f8f8f8;
}

.reklama > .img {
  width: 210px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.reklama > .img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.reklama > .img > #zoodpay {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  color: #303493;
}

.reklama > .btn > button {
  padding: 0.3rem 1rem;
  border-radius: 2px;
  background-color: #f8f8f8;
  border: 1px solid #303493;
  color: #303493;
  font-weight: lighter;
}

.reklama > .btn > button:hover {
  background-color: #303493;
  color: #fff;
}

#four {
  background: gold;
  font-size: 30px;
  width: 310px;
  padding: 0.2rem;
}

header {
  width: 100%;
  height: auto;
}

header > .head {
  width: 100%;
  background-color: gold;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

header > .head > .conteiner {
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

header > .head > .conteiner > .left {
  padding-left: 20%;
  width: 70%;
  gap: 20px;
}

header > .head > .conteiner > .left > a {
  text-decoration: none;
  color: #000;
  line-height: 35px;
}

header > .head > .conteiner > .select {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .head > .conteiner > .select > select {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

header > .head > .conteiner > .select > .kirish {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

header > .head > .conteiner > .select > .kirish > a {
  text-decoration: none;
  color: #000;
}

header > #charm {
  width: 60%;
  margin: 0 auto;
}

header > #charm > #rd {
  color: gray;
}

.navigation {
  width: 60%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.navigation > .bar {
  position: relative;
}

.navigation > .bar > .list {
  width: 280px;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 18px;
  background-color: #fff;
  list-style: none;
  display: none;
  border-radius: 16px;
  line-height: 60px;
  overflow-x: hidden;
}

.navigation > .bar > .list > li {
  margin: 10px;
}

.navigation > .bar > .list > li > a {
  color: black;
}

.navigation > .bar > .list::-webkit-scrollbar-button {
  width: 1px;
  color: blue;
}

.navigation > .bar:hover .list {
  display: block;
}

.navigation > li:nth-child(1) {
  background-color: #eeeeee;
  padding: 0.7rem 1rem;
  border-radius: 12px;
}

.navigation > li:hover {
  background-color: #eeeeee;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navigation > li {
  list-style: none;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation > li > a {
  text-decoration: none;
  color: #000;
}

.navigation > li > a > i:nth-child(1) {
  color: blue;
}

a {
  text-decoration: none;
}

footer {
  width: 100% !important;
  height: 514px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
}

footer > #content {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > #content > #brand {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > #content > #brand > .imger {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  gap: 7px;
}

footer > #content > #brand > .imger > img {
  width: 100%;
  height: 100%;
}

footer > #content > #brand > .imger > .p {
  font-size: 25px;
  font-weight: 100;
  color: #02026b;
}

footer > #content > #brand > .imger > .p > span {
  color: darkblue;
  font-weight: 900;
}

footer > #content > #brand > .text {
  width: 100%;
  height: auto;
}

footer > #content > #brand > .text > .text-conteiner {
  width: 96%;
  margin: 0 auto;
}

footer > #content > #brand > .text > .text-conteiner > #p {
  width: 100%;
  height: 25px;
}

footer > #content > #brand > .text > .text-conteiner > #p > b {
  font-weight: 400;
}

footer > #content > #brand > .text > .text-conteiner > .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

footer > #content > #brand > .text > .text-conteiner > .icons > a {
  padding: 1rem;
  background: rgba(203, 203, 203, 0.23);
  border-radius: 12px;
  font-size: 20px;
}

footer > #content > #brand > .text > .text-conteiner > .icons > a > i {
  color: #969696;
}

footer > #content > #brand > .text > .text-conteiner > .icons > a:hover {
  background-color: #ffd900;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

footer > #content > #brand > .mobile {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

footer > #content > #brand > .mobile > .mobile-conteiner {
  width: 95%;
  margin: 0 auto;
}

footer > #content > #brand > .mobile > .mobile-conteiner > .about {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

footer > #content > #brand > .mobile > .mobile-conteiner > .con {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

footer > #content > #brand > .mobile > .mobile-conteiner > .con > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

footer > #content > .about_zood {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

footer > #content > .about_zood > li {
  list-style: none;
}

footer > #content > .about_zood > li:hover a {
  color: blue;
}

footer > #content > .aloqa {
  width: 20%;
}

footer > #content > .aloqa > h3 {
  text-transform: uppercase;
  font-weight: 400;
}

footer > #content > .aloqa > .si {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > #content > .aloqa > .si > a {
  color: darkblue;
  font-size: 30px;
}

footer > #content > .aloqa > .si > strong {
  font-weight: 200;
}

footer > #content > .aloqa > .button > button {
  padding: 1rem 3.5rem;
  border-color: #ffdb33;
  border: 1px solid #ffdb33;
  background: #ffdb33;
  border-radius: 15px;
}

footer > #content > .aloqa > .button > button:hover {
  color: #fff;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-box-shadow: 5px 5px 5px #fff;
          box-shadow: 5px 5px 5px #fff;
}

#left {
  width: 40%;
  float: left;
  border: 1px solid red;
}

#left > #imges {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#left > #imges > #img {
  width: 343px;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

#right {
  border: 1px solid #4343;
  width: 60%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delives {
  font-size: 16px;
  text-decoration: line-through;
  color: #ffdb33;
  font-weight: 100;
  margin-top: 3px;
}

#price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 23px;
  font-weight: 600;
}

.btn {
  width: 100%;
  margin-top: 3rem;
}

.btn > button {
  padding: 0.45rem 0.7rem;
  background-color: #f9d43332;
  border: none;
  border-radius: 5px;
  border: 1px solid gold;
  color: gold;
}

.btn > button:hover {
  background-color: gold;
  color: #fff;
}
/*# sourceMappingURL=style2.css.map */